* {
    box-sizing: border-box;
 }   

 html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: auto;
    background-image: url(../Images/vertical-waves.png); 
}

/* header */

.header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    overflow: hidden;
}

.logo {
    float:left;
    font-size: 30px;
    color: #ffffff;
    background-color: #851616;
	padding: 30px;
	margin-left: 200px;
}

.header nav {
    margin-right: 290px;
    margin-top: 30px;
}

.header nav ul {
    float: right;
}

.header nav ul li{
	display: inline;
	float: left;
	padding: 10px;
	font-size: 20px;
	color: #777777;
    border-right: 1px solid #cccccc;
}

#third {
    border-right: none;
}

/* --------------------- */

/* main */

.main {
    width: 100%;  
    height: 100%;
    clear: both;
    overflow: auto;
}

/* --------------------- */

/* about me */

.aboutme {
    float: left;
    width: 650px;
    height: 470px;
    padding: 30px;
    background-color: #ffffff; 
    border: 1px solid #dddddd;
    margin: 40px 100px 40px 200px;
}

.aboutme h1 {

}

.aboutme img {
    width: 200px;
    height: 200px;
}

/* enter code for rest of about me - h1, img, p */


/* connect sidebar */

.connect {
    float: left;
    width: 270px;
    height: 200px;
    margin: 40px 235px 40px 20px; 
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.side h2 {
    color: #851616;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    padding: 15px;
    margin: 10px;
    border-bottom: 2px solid #dddddd;
}

.sociallinks ul {
    float: left;
    padding: 20px 34px;
    
}

.sociallinks ul li{
    display: inline;
    
}

/* finish code for connect */

/* ------------------------ */

/* footer */

.footer {
    width: 100%;
    height: auto;
	padding: 35px;
	text-align: center;
	font-size: 16px;
	color: #cccccc;
	background-color: #666666;
    border-top: 8px solid #851616;
    overflow: hidden;
}

